<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">Atrás
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-card *ngFor="let item of preguntas">
  
<div style="padding: 20px;">

  <ion-label class="ion-text-wrap" style="font-size: 18px; margin-bottom: 20px;">
    {{item.descripcion}}
  </ion-label>

  <br>
  <br>
  
  <ion-radio-group [value]="item.ponderacion" *ngIf="item.cinco" class="horizontal-radio-group" (ionChange)="responder(item, $event)">
    <div class="radio-wrapper">
      <ion-note class="radio-label">1</ion-note>
      <ion-radio value="1" aria-label="1"></ion-radio>
    </div>
    <div class="radio-wrapper">
      <ion-note>2</ion-note>
      <ion-radio value="2" aria-label="2"></ion-radio>
    </div>
    <div class="radio-wrapper">
      <ion-note>3</ion-note>
      <ion-radio value="3" aria-label="3"></ion-radio>
    </div>
    <div class="radio-wrapper">
      <ion-note>4</ion-note>
      <ion-radio value="4" aria-label="4"></ion-radio>
    </div>
    <div class="radio-wrapper">
      <ion-note>5</ion-note>
      <ion-radio value="5" aria-label="5"></ion-radio>
    </div>
  </ion-radio-group>    
  
  <ion-segment [value]="item.respuesta" *ngIf="item.vf" (ionChange)="responderVF(item, $event)">
    <ion-segment-button value="VERDADERO">
      <ion-label>Verdadero</ion-label>
    </ion-segment-button>
    <ion-segment-button value="FALSO">
      <ion-label>Falso</ion-label>
    </ion-segment-button>
  </ion-segment>
  

  <ion-item mode="md" *ngIf="item.abierta">
    <ion-textarea #myTextarea [autoGrow]="true" [value]="item.respuesta"  placeholder="Escribe tu respuesta..." type="text" (ionBlur)="responderInput(item, myTextarea.value)"></ion-textarea>
  </ion-item>
</div>

  
</ion-card>


<span class="screen__background__shape screen__background__shape1"></span>
  <span class="screen__background__shape screen__background__shape2"></span>
  <span class="screen__background__shape screen__background__shape3"></span>
  <span class="screen__background__shape screen__background__shape4"></span>
  
</ion-content>
