.horizontal-radio-group {
    display: flex;
    justify-content: space-between;
    width: 95%;
  }
  
  .radio-wrapper {
    display: flex;
    align-items: center; /* Aligns the radio and the number vertically */
  }

  ion-note {
    margin-left: 5px; /* Adjust as needed to bring the number closer to the radio */
  }
  

  ion-radio {
    --border-radius: 4px;
    --inner-border-radius: 4px;
  
    --color: #ddd;
    --color-checked: #6815ec;
    padding: 10%;
  }
  
  ion-radio.ios::part(container) {
    width: 20px;
    height: 20px;
  
    border: 2px solid #ddd;
    border-radius: 4px;
  }
  
  .radio-checked.ios::part(container) {
    border-color: #6815ec;
  }
  
  ion-item {
    --border-color: transparent !important;
    --background: #f3f3f3;
    border-radius: 14px;
    margin-bottom: 14px;
    margin-top: 1px;
    }
    
    ion-icon {
        color: #062e47;
    }
    
    ion-input {
    --color: black;
    }
    
    ion-list {
    background-color: #FFF;
    padding-top: 2%;
    }

    .screen__background__shape {
        transform: rotate(45deg);
        position: absolute;
      opacity: 0.8;  
    }
    
    .screen__background__shape1 {
        height: 30px;
        width: 340px;
        background: #259bbe;	
        top: 800px;
        right: -150px;	
        border-radius: 60px;
      z-index: -10;
    }
    
    .screen__background__shape2 {
        height: 30px;
        width: 325px;
        background: #062e47;	
        top: 788px;
        right: -196px;	
        border-radius: 32px;
      z-index: -10;
    }
    
    .screen__background__shape3 {
        height: 30px;
        width: 310px;
        background: #f6851f;	
        top: 735px;
        right: -200px;	
        border-radius: 60px;
      z-index: -10;
    }
    
    .screen__background__shape4 {
        height: 30px;
        width: 350px;
        background: #fcb712;	
        top: 707px;
        right: -260px;	
        border-radius: 60px;
      z-index: -10;
    }