<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">Atrás
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-row>
        <ion-col size="9">
          <ion-title size="large">Familiares</ion-title>
        </ion-col>
        <ion-col size="3">
          <ion-button (click)="mostrarModal2()" expand="block" fill="clear" shape="round">
            <ion-icon slot="icon-only" name="add-circle"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="familiares?.length == 0">
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center">No hay familiares que mostrar!</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-list [inset]="true">
    <ion-item [button]="true" color="light" *ngFor="let item of familiares" (click)="mostrarModal(item.codigo)" class="ion-activatable animate__animated animate__fadeIn">
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="" src="{{item.url_foto}}" />
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <strong>{{item.nombre}} {{item.apellido}}</strong>
        <p> {{item.cui}}</p>
        <ion-note style="font-size: 11px;">{{item.fecha_nacimiento}}</ion-note>
      </ion-label>
      <ion-note slot="end"></ion-note>
    </ion-item>
  </ion-list>

  <span class="screen__background__shape screen__background__shape1"></span>
  <span class="screen__background__shape screen__background__shape2"></span>
  <span class="screen__background__shape screen__background__shape3"></span>
  <span class="screen__background__shape screen__background__shape4"></span>
</ion-content>