<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-header>
            <img alt="Silhouette of a person's head" src="../../../assets/img/baner.jpg" width="80%" class="img"/>
        </ion-header>
        <ion-list id="inbox-list">
          <ion-list-header>Mi Kehila</ion-list-header>
          <ion-note>Guatemala</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-item lines="none" detail="false" (click)="eliminarCuenta()">
            <ion-icon aria-hidden="true" slot="start" [ios]="'trash' + '-outline'" [md]="'trash' + '-sharp'"></ion-icon>
            <ion-label>Eliminar cuenta</ion-label>
          </ion-item>
        </ion-list>
        <span class="screen__background__shape screen__background__shape1"></span>
  <span class="screen__background__shape screen__background__shape2"></span>
  <span class="screen__background__shape screen__background__shape3"></span>
  <span class="screen__background__shape screen__background__shape4"></span>
      </ion-content>
      <ion-footer>
        <ion-menu-toggle>
          <ion-toolbar>
            <ion-buttons slot="end" mode="ios" class="item-padding-salir">
              <ion-button color="dark" (click)="logOut()">
                <ion-icon slot="start" name="power-outline" class="icon-menu"></ion-icon>
                <ion-note>Salir</ion-note>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-menu-toggle>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
