<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">Atrás
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Multimedia</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list [inset]="true">
    <ion-item [button]="true" color="light" *ngFor="let item of multimedia" (click)="mostrarModal(item.codigo)" class="ion-activatable animate__animated animate__fadeIn">
      <ion-label class="ion-text-wrap">
        <strong>{{item.titulo}}</strong>
        <p> {{item.categoria}}</p>
        <ion-note style="font-size: 11px;">{{item.tipo}}</ion-note>
      </ion-label>
      <ion-note slot="end"></ion-note>
    </ion-item>
  </ion-list>

  <ion-card *ngIf="multimedia?.length == 0">
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center">No tienes notificaciones sin leer!</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <span class="screen__background__shape screen__background__shape1"></span>
  <span class="screen__background__shape screen__background__shape2"></span>
  <span class="screen__background__shape screen__background__shape3"></span>
  <span class="screen__background__shape screen__background__shape4"></span>
</ion-content>