<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="zoomIn()"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
      <ion-button (click)="zoomOut()"><ion-icon name="remove-circle-outline"></ion-icon></ion-button>
      <ion-button (click)="reset()"><ion-icon name="refresh"></ion-icon></ion-button>
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [scrollY]="false">
  <div id="container">
    <div class="cont">
      <div class="color2">
        <h2 class="textTitulo">{{titulo}}</h2>
        <div class="biography ion-text-center" [innerHTML]="descripcion"></div>
        <br>
        <br>
  
        <div *ngIf="type === 'jpg' || type === 'png' || type === 'gif' || type === 'svg' || type === 'jpeg'">
          <div id="visor">
            <ion-img id="dragElement" [src]="imgSrc" [ngStyle]="{ 'transform': 'translate(' + hTranslate + 'px,' + vTranslate + 'px) scale(' + zoom + ')' }" loading="lazy"></ion-img>
          </div>
          <br>
          <ion-button (click)="abrirEnlace(imgSrc)" expand="block" fill="outline"><ion-icon name="cloud-download-outline" slot="start"></ion-icon> Descargar Imagen</ion-button>
        </div>
      </div>
    </div>
  </div>
  <span class="screen__background__shape screen__background__shape1"></span>
  <span class="screen__background__shape screen__background__shape2"></span>
  <span class="screen__background__shape screen__background__shape3"></span>
  <span class="screen__background__shape screen__background__shape4"></span>
</ion-content>
